@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

.head {
  font-size: 1.2rem;
  font-weight: 900;
  text-align: start;
}

.subhead {
  font-size: 1rem;
  font-weight: 600;
  color: #575757;
}

.btn.prime {
  background-color: #109A5C;
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  color: #ffffff;
}

.btn.prime:hover {
  color: #ffffff;
  background-color: #0a8b51;
}

.text-box,
.choice-box,
.form-switch {
  padding-left: 1rem !important;
}
/* .text-box::placeholder {
  color: #757575;
  opacity: 1;
}

.text-box::-ms-input-placeholder {
  color: #757575;
  opacity: 1;
}



.btn {
  width: 100%;
  padding: 0.6rem;
  border-radius: 2rem;
  color: #ffffff;
}

.btn.prime {
  background-color: #109A5C;
}

.btn.prime:hover {
  color: #ffffff;
  background-color: #0a8b51;
}

.help-block {
  color: #dc3545;
  font-size: 12px;
  padding: 5px 0 0 20px;
}

.invalid {
  border-color: #dc3545;
}

.text-box.invalid:focus,
.choice-box.invalid:focus {
  border-color: #dc3545;
} */